/**
 * @package Xpert Contents
 * @version ##VERSION##
 * @author ThemeXpert http://www.themexpert.com
 * @copyright Copyright (C) 2009 - 2011 ThemeXpert
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 *
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.xco-wrap {
  *zoom: 1;
}
.xco-wrap:before,
.xco-wrap:after {
  display: table;
  content: "";
  line-height: 0;
}
.xco-wrap:after {
  clear: both;
}
.xco-wrap .item {
  padding: 10px;
  *zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xco-wrap .item:before,
.xco-wrap .item:after {
  display: table;
  content: "";
  line-height: 0;
}
.xco-wrap .item:after {
  clear: both;
}
.xco-wrap .heading {
  margin: 15px 0 0;
  line-height: 1;
}
.xco-wrap .meta {
  display: inline-block;
  padding: 3px 10px 2px;
  text-shadow: 1px 1px 1px #FFF;
  border-radius: 2px;
  background: #f5f5f5;
}
.xco-wrap .meta span + span {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 1px solid #CCC;
}
.xco-wrap .meta,
.xco-wrap .intro {
  margin: 5px 0 0;
}
.xco-wrap .xco-btn {
  border: 1px solid #ccc;
  padding: 0 15px;
  line-height: 24px;
  display: inline-block;
  margin-top: 10px;
}
.xco-wrap .xco-btn:hover {
  background-color: #eee;
}
.xco-media-left .image {
  float: left;
  width: 40%;
  margin-right: 15px;
}
.xco-media-left .heading {
  margin: 0;
  font-size: 15px;
}
[class*='xco-col-'] .item {
  float: left;
}
.xco-col-2 .item {
  width: 50%;
}
.xco-col-3 .item {
  width: 33.334%;
}
.xco-col-4 .item {
  width: 25%;
}
.sec-col .heading {
  margin-top: 0;
}
.xco-default [class*='-col'],
.xco-list [class*='-col'] {
  float: left;
}
.xco-default .pri-col,
.xco-list .pri-col {
  width: 60%;
}
.xco-default .sec-col,
.xco-list .sec-col {
  width: 40%;
}
.xco-caption .item a {
  display: block;
  position: relative;
}
.xco-caption .item .xco-btn {
  display: inline-block;
}
.xco-caption .heading {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  z-index: 99;
  padding: 6px 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #FFF;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.xco-classic-row .item {
  width: 50%;
  float: left;
}
.xco-classic-row .item:nth-child(4n+3) .image,
.xco-classic-row .item:nth-child(4n+4) .image {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.xco-grid {
  width: 100%;
}
.xco-grid .item {
  float: left;
  width: 25%;
  padding: 0;
}
.xco-grid .item:nth-child(5n+1) {
  width: 50%;
}
.xco-grid .heading,
.xco-grid .meta,
.xco-grid .intro {
  display: none;
}
